<div class="row d-flex w-100 justify-content-center align-items-center">
  <div class="col-lg-4">
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        style="background: red"
        (click)="playSound('note1')"
      ></a>
      <a
        class="list-group-item list-group-item-action"
        style="background: orange"
        (click)="playSound('note2')"
      ></a>
      <a
        class="list-group-item list-group-item-action"
        style="background: yellow"
        (click)="playSound('note3')"
      ></a>
      <a
        class="list-group-item list-group-item-action"
        style="background: green"
        (click)="playSound('note4')"
      ></a>
      <a
        class="list-group-item list-group-item-action"
        style="background: teal"
        (click)="playSound('note5')"
      ></a>
      <a
        class="list-group-item list-group-item-action"
        style="background: blue"
        (click)="playSound('note6')"
      ></a>
      <a
        class="list-group-item list-group-item-action"
        style="background: purple"
        (click)="playSound('note7')"
      ></a>
    </div>
  </div>
</div>
